#!/bin/bash
sudo mkdir /mnt/sdc
sudo mkfs.ext4 -F /dev/sdc
sudo mount -o discard,defaults /dev/sdc /mnt/sdc
sudo dd if=/dev/sdb1 of=/mnt/sdc/disk.raw bs=4096
cd /mnt/sdc
sudo tar czvf {{ version }}.tar.gz disk.raw
gsutil cp /mnt/sdc/{{ version }}.tar.gz gs://{{ bucket }}
